[Unit]
Description=Enode Webhook Flask App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/enode_poc/enode
EnvironmentFile=/home/ubuntu/enode_poc/enode/.env.systemd
Environment="PATH=/home/ubuntu/enode_poc/enode/venv/bin"
ExecStart=/home/ubuntu/enode_poc/enode/venv/bin/gunicorn \
  -w 4 \
  -k gthread \
  --threads 4 \
  --worker-connections 1000 \
  --timeout 120 \
  -b 0.0.0.0:5080 \
  --limit-request-line 0 \
  --limit-request-field_size 0 \
  "server:app"
Restart=always
StandardOutput=append:/var/log/enode_webhook.log
StandardError=append:/var/log/enode_webhook.log

[Install]
WantedBy=multi-user.target
